<shared-navbar></shared-navbar>

<p class="h2 mt-5">Calculadora de fechas</p>

<div class="row">
  <mat-form-field class="col-lg-4 col-sm-5 col-12">
    <mat-label>Selecciona una fecha</mat-label>
    <input [formControl]="datePicker" (dateChange)="change($event)" matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle  matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="col-lg-4 col-sm-5 col-12">
      <mat-label>Unidad</mat-label>
      <mat-select [formControl]="unidad" (selectionChange)="change($event)">
        <mat-option *ngFor="let unidad of unidades" [value]="unidad">
          {{unidad | uppercase}}
        </mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field class="col-lg-4 col-sm-5 col-12">
      <mat-label>Cantidad</mat-label>
      <input (keyup)="change($event)" [formControl]="cantidad" matInput placeholder="" type="number">
  </mat-form-field>
</div>

<p class="h3">Fecha calculada: {{fechaCalculada | date}}</p>